
    @font-face{
        font-family: OPTIBodoni-Antiqua;
        src: url(D:\Design Source\Fonts\영문\Zara\OPTIBodoni-Antiqua.otf);
        font-family: High Summit;
        src url(D:\Design Source\Fonts\영문\High Summit\High Summit.otf);
        font-family: Butler_Bold;
        src url(D:\Design Source\Fonts\영문\Butler\Butler\Butler_Bold.otf);
        font-family: Butler_Medium;
        src url(D:\Design Source\Fonts\영문\Butler\Butler\Butler_Medium.otf);
    }
    body{
        margin=0;
    }
    #grid{
        display: grid;
        grid-template-columns: 150px 1fr;
    }
    #table{
        font-family: High Summit;
        padding= 200px;
    }
    /*
    block level element (화면 전체 이용)
    */
    h1{
        font-family: Butler_Bold;
        font-size: 50px;
        text-align: center;
        border-bottom: 1px solid gray;
        padding: 50px;
        margin:0px;
    }
    h2{
        font-family: High Summit;
        font-size:30px;
        margin: 20px;
        padding-left: 20px;
    }
    /*
    inline element (자신의 부피만큼만 이용)
    */
    a{
        color: black;
        text-decoration: none;
    }
    #grid ol{
        font-family: High Summit;
        font-size:20px;
        border-right: 1px solid gray;
        text-decoration: underline;
        width: 100px;
        margin: 0px;
        padding: 20px;
        padding-left: 33px;
    }
    @media(max-width:800px){
        #grid{
            display: block;
        }
        #grid ol{
            border-right: none;
        }
        h1{
        border-bottom: none;
        }